@charset "UTF-8";

header {
    margin-top: -10px;
    border-bottom: 2px solid #0c5a1d ;
    margin-bottom: 10px;
}

nav#menu {
    display: flex;
    justify-content: space-between;
    
}


nav#menu h1 {
    font-size: 30px;
    color: #606060;
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, .6); */
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
}
nav#menu li:hover {
    background-color: #2361b3;
    color: #ffffff;
    text-decoration: underline;
}

nav#menu li {
    display: inline-block;
    background-color: #13aa34;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 1s, color 1s;
}

nav#menu a {
    color: #000000;
    text-decoration: none;
}