@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Finger+Paint&display=swap');

html, body {
    height:100%;
    min-height:100%;
    margin: 0;
}
body {
    background-color: #dddddd;
    font-family: 'Finger Paint', cursive;
}

div.container {
    display: flex;
    width: 75%;
    margin: 0 auto 0px auto;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

figure.foto-legenda {
    position: relative;
    border: 8px solid #fff;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    border: 12px solid #000000;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

figure.foto-legenda figcaption h3 {
    margin: 0;
    text-align: center;
}



footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 50px;
    display: flex;
    margin-top: 10px;
    border-top: 2px solid #0c5a1d ;

}

footer h4, p {
    margin: 10px 10px;
}
